header{
    font-size: large;
    font-weight: bold;
    padding: 25px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    text-align: center;
}
footer{
    margin: 100px 0px;
}
body{
    text-align: center;
}
#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}
.attempt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
.attempt{
    width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.tile{
    border: 2px solid lightgray;
    width: 80px;
    height: 80px;
    margin: 2.5px;

    /* Text */ 
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.correct{
    background-color: green;
    color:  white;
    border-color: white;
}

.present{
    background-color: orange;
    color: white;
    border-color: white;

}

.absent{
    background-color: darkgray;
    color: white;
    border-color: white;
}