header{
    padding: 2px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 7.5px;
}
header h3{
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
footer{
    margin: 100px 0px;
}
body{
    text-align: center;
    align-items: center;
}
#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}
.game{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.attempt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
.attempt{
    width: 420px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.tile{
    border: 2px solid lightgray;
    width: 70px;
    height: 70px;
    margin: 2.5px;

    /* Text */ 
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.correct{
    background-color: green;
    color:  white;
    border-color: white;
}

.present{
    background-color: orange;
    color: white;
    border-color: white;

}

.absent{
    background-color: brown;
    color: white;
    border-color: white;
}

/* Key board */
.keyboard{
    height: 100px;
}
.keyboard .row{
    display: flex;
    justify-content: center;
    width: 100%;
}
.row button{
    margin: 5px;
    width: 55px;
    height: 55px;
    
    background-color: lightgray;
    border: none;
    border-radius: 10%;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    user-select: none;
}
.wide-button{
    flex-grow: 1.5;
}
